# Everything
!.gitignore

# C++ files
*.slo
*.lo
*.o
*.obj
*.d

!*/*.cpp
!*/*/*.c
!*/*.hpp
!*/*.h
!*/*makefile

# VS Code stuff
.vscode/
.vs/*
*.code-workspace
.terminal-presets.json

# Misc folders
[Mm]isc/
[Rr]ef
**_REF/
[Gg]lobal[Rr]ef

# Misc files
*.pdf

# Baca
.baca/

# Tests
**[Tt]ests/

#Selective ignore
labs/labs-p2/Assignments/lab1/*
baca/baca-p2/D/testerka/
