# Everything
!.gitignore

# C++ files
*.slo
*.lo
*.o
*.obj
*.d

!*/*.cpp
!*/*/*.c
!*/*.hpp
!*/*.h
!*/*makefile

# VS Code stuff
.vscode/
.vs/*
*.code-workspace
.terminal-presets.json 

#Personal
[Mm]isc/

#BACA
.baca/